body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.header-bg{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.profile{
    margin-top: -150px;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
.biography-bg{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
}
.latest-work-wrapper {
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position: top;
}
.latest-work-bg{
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
}
.latest-work-bg img{
    width: 100%;
}
.thirdth-width{
    width: 30%;
    float: left;
    margin-left: 2%;
    padding-left: 1%;
}
.work{
    text-align: center;
    margin-bottom: 100px;;
}
.footer-bg{
    text-align: center;
}
.link-button-2{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 100px;
    border-radius: 5px;
    font-weight: bold; 
}
.footer-bg{
    text-align: center;
}